nav {
    background: rgb(214, 208, 208);
    padding: 10px 0;
}

h3 {
    cursor: pointer;
    color: red;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    margin: 0 5px;
    color: black;

    &:hover {
        color: red;
    }
}